<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="/">Home</a>
        <span class="breadcrumb-item active">Cart</span>
    </div>
</div>
<section class="static about-sec">
    <div class="container">
        <div class="row">
            <div class="tab col-6 col-md-2">
                <button class="tab">Navigation</button>
                <a href="/user/userPage">
                    <button class="inactive-tab">User Page</button>
                </a>
                <a href="/user/changeinfo">
                    <button class="inactive-tab">Change Info</button>
                </a>
                <a href="/user/userPage/setaddress">
                    <button class="inactive-tab">Set Address</button>
                </a>
                <a href="/user/userRecentOrder">
                    <button class="inactive-tab">Order History</button>
                </a>
                <a href="/user/userCart">
                    <button class="active-tab">Cart</button>
                </a>
                <a href="/user/userPage/wishlist">
                    <button class="inactive-tab">Wishlist</button>
                </a>
            </div>
            <div class="col-10" id="cart">
                <br>
                <h2>Cart</h2>
                <br>
                <!--- add in each product--->
                {{#if cartItem}}
                {{#each cartItem}}
                <div class="row">
                    <div class="col-md-2">
                        <img src="/images/product1.jpg" class="img">
                    </div>
                    <div class="row col-md-10">
                        <div class="col-11">
                            <h4>{{title}}</h4>
                            <!--- add in link here--->
                            <p>Author Name, Genre, etc</p>
                            <p class="price">{{price}}</p>
                            <p>Amount: {{amount}}</p>
                        </div>
                        <div class="col-1">
                            <a href="/delivery/removeItem/{{id}}"><button class="btn">Delete</button></a>
                        </div>
                    </div>
                </div>
                <hr>
                {{/each}}
                <p> </p>
                <p></p>
                {{else}}
                <h3>No Items In Cart</h3>
                <hr>
                {{/if}}
                <div class="row">
                    <div class="col-9"></div>
                    <div class="col-2-md">
                        <p>Total Price:</p>
                    </div>
                    <div class="col-1-md">
                        <p>$</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                    </div>
                    <div class="col-3">
                        <a href="/product/listProduct">
                            <button class="btn" type="submit" value="submit">Continue Shopping
                            </button>
                        </a>
                    </div>
                    <div class="col-1">
                        <a href="/delivery/checkout">
                            <button class="btn" type="submit" value="submit">Check Out
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>