<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="/">Home</a>
        <span class="breadcrumb-item active">Recent Order</span>
    </div>
</div>
<section class="static about-sec">
    <div class="container">
        <div class="row">
            <div class="tab col-6 col-md-2">
                <button class="tab">Navigation</button>
                <a href="/user/userPage">
                    <button class="inactive-tab">User Info</button>
                </a>
                <a href="/user/userRecentOrder">
                    <button class="active-tab">Recent Orders</button>
                </a>
                <a href="/user/userCart">
                    <button class="inactive-tab">Cart</button>
                </a>
            </div>
            <div id="recentOrders" class="col-md-10">
                <h2>Recent Orders</h2>
                <br>
                <div>
                    <table class="table table-striped" id="myTable">
                        <thead>
                            <tr>
                                <th>Order No</th>
                                <th>Date Sent</th>
                                <th>Date Received</th>
                                <th>Delivery Type</th>
                                <th>Delivery Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#if order}}
                            {{#each order}}
                            <tr>
                                <td><a href="/delivery/viewMoreOrder/{{id}}">{{id}}</a></td>
                                <td>{{formatDate dateStart 'DD MMM YYYY'}}</td>
                                <td>{{formatDate dateEnd 'DD MMM YYYY'}}</td>
                                <td>Normal Shipping</td>
                                <td id="deliveryStatus">{{capitaliseFirstLetter deliveryStatus}}</td>
                            </tr>
                            {{/each}}
                            {{else}}
                            <p>There is no current orders</p>
                            {{/if}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>