<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="#">Home</a>
        <a class="breadcrumb-item" href="#">Recent Orders</a>
        <span class="breadcrumb-item active">Delivery Information</span>
    </div>
</div>
<section class="static about-sec">
    <div class="container">
        <h1>Delivery Information</h1>
        <div class="row">
            <div class="col-md-8">
                <h3>Delivery Status - <span
                        class="{{progressColourText}}">{{deliveryStatusResult}}</span></h3>
                <br>
                <div class="progress">
                    <div class="progress-bar {{progressColour}}" style="width: {{progressPercentage}}%"
                        role="progressbar" aria-valuenow="{{progressPercentage}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br>
                <p>Check <a href="{{trackingURL}}">here</a> for more delivery information.</p>
                <br>
                {{#if cartItem}}
                {{#each cartItem}}
                <div class="row">
                    <div class="col-md-2">
                        <img src="/images/product1.jpg" class="img">
                    </div>
                    <div class="col-md-10">
                        <h4>{{title}}</h4>
                        <!--- add in link here--->
                        <p>Author Name, Genre, etc</p>
                        <p class="price">{{price}}</p>
                        <p>Amount: {{amount}}</p>
                    </div>
                </div>
                <hr>
                {{/each}}
                <p> </p>
                <p></p>
                {{else}}
                <h3>No Items In Cart</h3>
                <hr>
                {{/if}}
            </div>
            <div class="col-md-4">
                {{#if order}}
                <div class="right-sidebar">
                    <h3>Delivery Address</h3>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p>Order ID: {{order.id}}</p>
                            <p>Name: {{order.fullName}}</p>
                            <p>{{order.address}}</p>
                            <p>{{order.address1}}</p>
                            <p>City: {{order.city}}</p>
                            <p>Country: {{order.country}}</p>
                        </div>
                    </div>
                </div>
                <div class="right-sidebar">
                    <h3>Shipping Information</h3>
                    <hr>
                    <div>
                        <p>Order Date: {{formatDate order.dateStart 'DD MMM YYYY'}}</p>
                        <p>USPS Tracking Code: </p>
                        <p>{{order.trackingCode}}</p>
                        <p>EasyPost Tracking Code: </p>
                        <p>{{order.trackingId}}</p>
                        
                    </div>
                </div>
                <div class="right-sidebar">
                    <h3>Total Price</h3>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p>Subtotal: </p>
                            <p>Delivery Fee: Free</p>
                            <p>Total: {{order.totalPrice}}</p>
                        </div>
                    </div>
                </div>
                {{else}}
                <p>There is no order</p>
                {{/if}}
            </div>
        </div>
    </div>
</section>