<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="/product/listProductAdmin">Product Page Admin</a>
        <span class="breadcrumb-item active">Retrieve Product</span>
        <a class="breadcrumb-item" href="/product/createProduct">Add product</a>

    </div>
</div>
<section class="product-sec">
    <div class="container col-lg-12 col-md-6"
        <h1 class="display-4">Product Details</h1>
        <p>Product ID: {{product.id}}</p>
        <p>Product Name: {{product.product_name}}</p>
        <p>Author: {{product.author}}</p>
        <p>Publisher: {{product.publisher}}</p>
        <p>Genre: {{product.genre}}</p>
        <p>Price: {{product.price}}</p>
        <p>Stocks: {{product.stock}}</p>
        <p>Weight: {{product.weight}}</p>
        <p>Specific Details: {{product.details}}</p>
        <p>Image: <img src="{{product.product_image}}"></p>


        <td><a href="/product/updateProductAdmin/{{product.id}}" class="btn btn-warning">Update</a></td>
        <br>
        <br>
        <td>
            <!---
                        <form action="" method="POST">
                            <input type="submit" value="Delete" class="btn btndanger" onclick="return confirm('Are you sure you want to delete this item ? ')">
                        </form>
                        --->
            <a href="/product/delete/{{product.id}}" class="btn btn-warning" data-toggle="confirmation"
                data-title="Confirm delete?">
                <i class="far fa-trash-alt"></i>
                Delete
            </a>
        </td>
        </tr>
        </tbody>
        </table>
    </div>
</section>