<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="/product/listProductAdmin">Product Page Admin</a>
        <span class="breadcrumb-item active">Retrieve Product</span>
        <a class="breadcrumb-item" href="/product/createProduct">Add product</a>

    </div>
</div>
<section class="product-sec">
    <div class="wrap" , style="text-align: center">
        <div class="search">
            <input type="text" class="searchTerm" placeholder="What are you looking for?" onkeyup="searchFunction()">
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>

    <div class="container">
        <h1 class="display-4">Product List</h1>
        <!--- add in later
    <div>
        {% if count == 0 %}
            <p>There are no Products.</p>
        {% elif count == 1 %}
            <p>There is 1 Products.</p>
        {% else %}
            <p>There are {{ count }} Products.</p>
        {% endif %} </div>
        --->
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Author</th>
                        <th>Publisher</th>
                        <th>Genre</th>
                        <th>Price</th>
                        <th>Stocks</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <!---add in conditions here {% for product in usersList %} --->
                    {{#each productadmin}}
                    <tr>
                        <td>{{id}}</a></td>

                        <td>{{product_name}}</td>
                        <td>{{author}}</td>
                        <td>{{publisher}}</td>
                        <td>{{genre}}</td>
                        <!--- add in later
                    {% if product.get_genre() == "Children" %}
                        <td>Children</td>
                    {% elif product.get_genre()  == "Crime" %}
                        <td>Crime</td>
                    {% elif product.get_genre() == "Fiction"%}
                        <td>Fiction</td>
                    {% elif product.get_genre()  == "Manga"%}
                        <td>Manga</td>
                    {% endif %}
                    --->
                        <td>{{price}}</td>
                        <td>{{stock}}</td>
                        <td><a href="/product/detailsProductAdmin/{{id}}">View More <i class="fa fa-chevron-right"
                                    aria-hidden="true"></i></a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
</section>