<div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="#">Admin Logs</a>
            <span class="breadcrumb-item active">Retrieve Product</span>
            <a class="breadcrumb-item" href="/product/createProduct">Add product</a>
            
        </div>
         </div>
         <section class="product-sec">
<div class="container" >
    <h1 class="display-4">Product List</h1>
    {{#each productadmin}}
    
    <!--- add in later
    <div>
        {% if count == 0 %}
            <p>There are no Products.</p>
        {% elif count == 1 %}
            <p>There is 1 Products.</p>
        {% else %}
            <p>There are {{ count }} Products.</p>
        {% endif %} </div>
        --->
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Genre</th>
                <th>Price</th>
                <th>Stocks</th>
               <!-- <th>Remarks</th>-->
                <th>Image</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <!---add in conditions here {% for product in usersList %} --->
                <tr>
                    <td><a href="/product-single/">product id</a></td>

                    <td>{{product_name}}</td>
                    <td>{{author}}</td>
                    <td>{{publisher}}</td>
                    <td>{{genre}}</td>
                    <!--- add in later
                    {% if product.get_genre() == "Children" %}
                        <td>Children</td>
                    {% elif product.get_genre()  == "Crime" %}
                        <td>Crime</td>
                    {% elif product.get_genre() == "Fiction"%}
                        <td>Fiction</td>
                    {% elif product.get_genre()  == "Manga"%}
                        <td>Manga</td>
                    {% endif %}
                    --->
                    <td>{{price}}</td>
                    <td>{{stock}}</td>

                    <td>
                        <p>image here</p>
                    </td>
                     <td><a href="/AdminUpdateBooks/" class="btn btn-warning">Update</a></td>
                    <td>
                        <!---
                        <form action="" method="POST">
                            <input type="submit" value="Delete" class="btn btndanger" onclick="return confirm('Are you sure you want to delete this item ? ')">
                        </form>
                        --->
                        <a href="/product/delete/{{id}}" class="card-link" data-toggle="confirmation"
							   data-title="Confirm delete?">
								<i class="far fa-trash-alt"></i>
								Delete
							</a>
                    </td>
                </tr>
            </tbody>
        </table>
        {{/each}}
</div>
</section>