<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="/index">Home</a>
        <span class="breadcrumb-item active">Check Delivery</span>
    </div>
</div>
<section class="static about-sec">
    <div class="container">
        <h1>Shipping Information</h1>
        <div class="row">
        </div>
        <h3>Delivery Status - {{capitaliseFirstLetter deliveryStatus}}</h3>
        <div>Remember to put step progress bar</div>
        <hr>
        <div class="row">
            <div class="border-right col-6 col-md-6">
                <p>Tracking ID: {{trackingId}}</p>
                <p>Created on: {{formatDate createdAt 'DD MMM YYYY hh:mm:ss'}}</p>
                <p>Updated on: {{formatDate updatedAt 'DD MMM YYYY hh:mm:ss'}}</p>
                <p>Delivery Information: {{statusDetail}}</p>
                <p>Carrier: {{carrierType}}</p>
                <p>Click <a href="{{URL}}">here</a> to check your delivery information</p>
            </div>
            <div class="col-6 col-md-6">
                <p>QR Code</p>
                <img src={{showQRCODE}} class="img-fluid" alt="QRCODE" width="250" height="250">
            </div>
        </div>
        <hr>
        <p>Click <a href="/delivery/checkDelivery">here</a> to continue checking delivery.</p>
    </div>
</section>